<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <preference for="Magento\Review\Block\Form"
                type="DeveloperHub\ProductReview\Block\Form" />
    <type name="Magento\Review\Controller\Product\Post">
    <plugin name="after_save"
            type="DeveloperHub\ProductReview\Plugin\Post" sortOrder="10" />
    </type>
    <preference for="Magento\Review\Block\Adminhtml\Edit\Form"
                type="DeveloperHub\ProductReview\Block\Adminhtml\Edit\Form" />
</config>
